@charset "UTF-8";

@font-face {
    font-family: thunder ;
src: url(../fontes/thunder_kingdom/Thunder\ Kingdom.ttf);
}


:root {
    --cor1:#A6323B;
    --cor2:#D9A7AB;
    --cor3:#193559;
    --cor4:#88A0BF;
    --cor5:#0D0D0D;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: rgb(39, 36, 36);
    /* height: 70px; */
    display: flex;
    flex-direction: row;/* define a direção, se é em linha ou coluna */
  /*   position: relative; */
}

#header {
    display: flex;
    width: 90%;
    max-width:  1500px;
    margin: auto;
    justify-content: space-between;/* centralizar o titulo quando o menu sumir */
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#logo {
    width: 300px;
    color: rgb(255, 255, 255); /* define a cor da fonte */
    font-size: 26px; /* define a tamanho da fonte */
    text-transform: uppercase; /* coloca em letras maiusculas */
    display: flex; /* torna os itens internos em flexiveis */
    align-items: center; /* alinha os itens do centro */
}

#logo img {
    width: 60px;
}

#logo p {
    margin-left: 10px;
}

#botao-menu {
    display: none;
}

label[for='botao-menu'] {
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 20px;
}
 



nav {
    display: flex;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--cor1);
    color: rgb(255, 255, 255);
    height: 70px;
    width: 105px;
    display: flex;
    align-items: center;/* centraliza na vertical */
    justify-content: center; /* centraliza na horizontal */
    padding: 0 10px 0 10px; /* espaço dentro da div */
}

a:hover {
    background-color: #614c51;
}
   
#banner {
    margin: auto;
    width: 100%;
    height: 500px;
    background-image: url("../imagens/pexels-dmitry-zvolskiy-1570806.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-figure-small {
    color: antiquewhite;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.text-figure-1 {
    border-bottom: 1px solid white;
    padding: 0 25px 0px 25px;
    text-align: center;
}
.text-figure-2 {
    color:antiquewhite;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: bold;
    margin: 10px 0px 10px;
    text-align: center; 
    font-family: thunder;
}
#text-figure-3 {
    border-top: 2px solid white;
    padding: 10px 25px 0 25px;
    text-align: center;
}
main {
    position: relative;
    top: -30px;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto 50px auto;
    border-top: 3px solid firebrick;
    box-shadow: 3px 3px 10px black;
    background-color: white;
    /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); */
}
/*  POSITION
STATIC
RELATIVE
ABSOLUTE
FIXED
 */
 .main-section {
    width: 95%;
    max-width: 95%;
    margin: 30px auto 40px auto;/* top > right > bottom > left */
    height: auto;
    border: 1px solid black;
    border-top: 3px solid darkred;
 }

 .main-section h1 {
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid black;
 }

 #serviços {
    display: flex;
    justify-content: space-around;
/*     border: 1px solid darkred;
 */    flex-wrap: wrap;
 }

 #serviços > div {
/*     border: 1px solid black;
 */    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid black;
 }

 #serviços img {
    width: 74px;
    background-color: rgb(255, 114, 114);
    padding: 5px;
    border-radius: 50%;
 }

 #serviços div:hover img {
    background-color: rgb(250, 0, 0);
 }  

 #serviços div:hover figcaption {
    color: red;
 }

 #profissionais {
    display: flex;
    justify-content: space-around;
/*     border: 1px solid darkred;*/
    flex-wrap: wrap;
    text-align: center;
 }

 #profissionais img {
    width:200px;
    height:220px;
    background-color: rgb(255, 114, 114);
    padding: 5px;
    border-radius: 5%;
}

#profissionais div:hover img {
    background-color: rgb(250, 0, 0);
 }  

 #profissionais div:hover figcaption {
    color: red;
 }

 #contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 #contato > p {
    width: 40%;
    min-width: 300px;
    text-align: justify;
    margin-bottom: 30px;
 }

 #contato > div {
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
 }

 #form-name {
    width: 50%;
    display: flex;
    flex-direction: column;
 }

#form-email {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#form-msg {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#form-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#form-btn input {
    background-color: olive
}

#contato input {
    border-radius: 5px;
    height: 30px;
}

#contato label, input, textarea {
    margin-bottom: 10px;
}

/* main > div {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    height: 100px;
    width: 100px;
    border: 1px solid black
}  */

footer {
    background-color: var(--cor1);
    height: 350px;
}

#footer {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer > div {
    width: 50%;
    min-width: 300px;
}

#footer h2 {
    text-align: center;
    margin: 20px auto 40px auto;
}

#footer-and, #footer-redes {
    width: 50%;
}

#footer-redes {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    align-items: center;
    flex-wrap: wrap;
}

#footer-redes a {
    height: 100px;
    width: 70px;
    border-radius: 20px;
}

@media (max-width: 930px) {
    nav {
        flex-direction: column;
        position: absolute;
        width: 90%;
        left: 20px;
        top: 100%;
        margin-top: -200%;
        transition: all 2s;
    }
    
    a {
        width: 100%;
        background-color: #0D0D0D;
    }
    
    label[for='botao-menu'] {
        display: block;
        z-index: 6;
    }
        
    #botao-menu:checked ~ nav {
        margin-top: 0;
    }
}